<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <title>Cluckr Test</title>
</head>
<body>
    <nav>
        <a href="home_page">Home Page</a>
        |
        <a href="post_cluckr">Cluck Cluck</a>  
        |
        <a href="/sign_in">Sign In</a> 
    </nav>

  